<Layouts.app flash={@flash} current_scope={@current_scope}>
  <main id="account-settings" class="mx-auto w-full max-w-xl">
    <header class="text-center">
      <.header>
        Account Settings
        <:subtitle>Manage your account email address and password settings</:subtitle>
      </.header>
    </header>

    <.form for={@email_form} id="email_form" phx-submit="update_email" phx-change="validate_email">
      <.input
        field={@email_form[:email]}
        type="email"
        label="Email"
        autocomplete="username"
        required
      />
      <.button variant="primary" phx-disable-with="Changing...">Change Email</.button>
    </.form>

    <div class="divider" />

    <.form
      for={@password_form}
      id="password_form"
      action={~p"/users/update-password"}
      method="post"
      phx-change="validate_password"
      phx-submit="update_password"
      phx-trigger-action={@trigger_submit?}
    >
      <input
        name={@password_form[:email].name}
        type="hidden"
        id="hidden_user_email"
        autocomplete="username"
        value={@current_email}
      />
      <.input
        field={@password_form[:password]}
        type="password"
        label="New password"
        autocomplete="new-password"
        required
      />
      <.input
        field={@password_form[:password_confirmation]}
        type="password"
        label="Confirm new password"
        autocomplete="new-password"
      />
      <.button variant="primary" phx-disable-with="Saving...">Save Password</.button>
    </.form>
  </main>
</Layouts.app>
